@charset "utf-8";

.My-Color-Theme-1-hex {
  color: #FFC757;
}

.My-Color-Theme-2-hex {
  color: #45CC36;
}

.My-Color-Theme-3-hex {
  color: #556471;
}

.My-Color-Theme-4-hex {
  color: #8761D0;
}

.My-Color-Theme-5-hex {
  color: #447BCC;
}

.My-Color-Theme-6-hex {
  color: #BF4287
}

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba {
  color: rgba(255, 199, 87, 1);
}

.My-Color-Theme-2-rgba {
  color: rgba(69, 204, 54, 1);
}

.My-Color-Theme-3-rgba {
  color: rgba(85, 100, 113, 1);
}

.My-Color-Theme-4-rgba {
  color: rgba(167, 121, 255, 1);
}

.My-Color-Theme-5-rgba {
  color: rgba(68, 123, 204, 1);
}




/* Color Theme Swatches in Hex */
.Violet-Theme-1-hex {
  color: #E7A1FF;
}

.Violet-Theme-2-hex {
  color: #BB92E8;
}

.Violet-Theme-3-hex {
  color: #BEADFF;
}

.Violet-Theme-4-hex {
  color: #9298E8;
}

.Violet-Theme-5-hex {
  color: #A1C0FF;
}

/* Color Theme Swatches in RGBA */
.Violet-Theme-1-rgba {
  color: rgba(231, 161, 255, 1);
}

.Violet-Theme-2-rgba {
  color: rgba(187, 146, 232, 1);
}

.Violet-Theme-3-rgba {
  color: rgba(190, 173, 255, 1);
}

.Violet-Theme-4-rgba {
  color: rgba(146, 152, 232, 1);
}

.Violet-Theme-5-rgba {
  color: rgba(161, 192, 255, 1);
}



.otstuptopbottom {
  padding-top: 3em;
  padding-bottom: 3em;
}



body {
  font-family: 'Fira Sans', sans-serif;
  /*font-style: italic;*/
  /*color: #FFFFFF;*/
}

.formWidth {
  width: 240px;
}


.textcenter {
  text-align: center;
}

.bordersolid {
  border: solid #eab751 1px;

}

hr {
  color: #8761D0 !important;
}



.carousel-control {
  color: #141414
}

.btn-outline-success {
  color: #FFC757;
  border-color: #FFC757;
}

.btn-outline-success:hover {
  color: #556471;
  background-color: #FFC757;
  border-color: #FFC757;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 199, 87, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #FFC757;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #556471;
  background-color: #FFC757;
  border-color: #FFC757;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 199, 87, 0.5);
}

.backgroundgrey {
  background: #E9ECEF;
}

.backgroundviolet {
  background: #A1C0FF;
}

.bordercolorgrey {
  border: #556471 solid 1px;

}

.borderColorVolet2 {
  border: #8761D0 solid 1px;
  border-radius: 10px;

}

.bordercolorviolet1 {
  background-color: #8761D0;
}

.btn-primary {
  background-color: #8761D0;
  border: #8761D0 solid;
}

.btn-primary:hover {
  background-color: rgba(191, 150, 66, 0.5);
  border: rgba(202, 158, 70, 0.5) solid;
  color: rgb(81, 81, 81)
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  font-size: 14px;
}

.btn1 {
  background-color: #3DB031;
  color: antiquewhite;
}

.btn1:hover {
  background-color: #329926;
  color: #F8B967;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #8761D0;
  background-color: rgba(255, 199, 87, 0.5);
  ;
}

.navbar-light .navbar-nav .nav-link {
  color: #8761D0;
}

a {
  color: #3772cb;
  text-decoration: none;
  background-color: transparent;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #FFFFFF;
  border-radius: 0.3rem;
}

.table-bordered {
  border: 1px solid #979A9C;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto
}

.show {
  display: block;
}

.hide {
  display: none;
}



@media (min-width : 0px) and (max-width : 360px) {
  H1 {
    font-size: 1.8em;
  }

  .lead {
    font-size: 1.2em;
  }

  .opisanie {
    font-size: 0.7em;

  }

  .bordercolorviolet1 {
    background-color: #8761D0;
  }
}

@media (min-width : 361px) and (max-width : 510px) {
  H1 {
    font-size: 2.2em;
  }

  .lead {
    font-size: 1.4em;
  }

  .opisanie {
    font-size: 0.8em;
  }

  .bordercolorviolet1 {
    background-color: #8761D0;
  }
}